<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: black;">
    <script>
      var nota1 = parseFloat(prompt("Digite a primeira nota:"));
      var nota2 = parseFloat(prompt("Digite a segunda nota:"));
      var nota3 = parseFloat(prompt("Digite a terceira nota:"));
      var nota4 = parseFloat(prompt("Digite a quarta nota:"));

      var menornota;

      if (nota1 <= nota2 && nota1 <= nota3 && nota1 <= nota4) {
        menornota = nota1;
      } else if (nota2 <= nota1 && nota2 <= nota3 && nota2 <= nota4) {
        menornota = nota2;
      } else if (nota3 <= nota1 && nota3 <= nota2 && nota3 <= nota4) {
        menornota = nota3;
      } else {
        menornota = nota4;
      }

      var media = (nota1 + nota2 + nota3 + nota4 - menornota) / 3;

      document.write(`<h1 style = "color: #fff">Média da nota</h1><p style = "color: #fff">A média das notas, descartando a menor nota : ${media.toFixed(2)}</p><h1 style = "color: #fff"> Nota descartada</h1> <P style = "color: #fff">A nota descartada foi : ${menornota}</P>`);
    </script>
  </body>
</html>
